{% extends 'base_two_col.html' %} {% block title %}{{ title }}{% endblock %} {%
block content %}
<h1>Update Recipe</h1>

{% if success %}
<div class="alert alert-success" role="alert">{{ success }}</div>
{% endif %} {% if form.errors %}
<ul class="list-group list-group-flush">
  {% for error in form.errors %}
  <li class="list-group-item list-group-item-danger" role="alert">
    {{ error }}: {{ ', '.join(form.errors[error]) }}
  </li>
  {% endfor %}
</ul>
{% endif %}
<div>
  <form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
      <input type="hidden" name="_id" value="{{ recipe._id }}" />
      <label for="name">Recipe Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        aria-describedby="Recipe Name"
        value="{{ recipe.name }}"
      />
      <small id="emailHelp" class="form-text text-muted">
        Pick a cool recipe name.
      </small>
    </div>
    <div class="form-group">
      <label for="">Ingredients</label>
      <input
        type="text"
        class="form-control"
        id="ingredients"
        name="ingredients"
        value="{{ recipe.ingredients }}"
      />
    </div>
    <div class="form-group">
      <label for="instructions">Steps</label>
      <textarea class="form-control" id="steps" name="steps" rows="3">
      {{ recipe.steps }}
      </textarea>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input
        type="text"
        class="form-control"
        id="image"
        name="image"
        value=" {{ recipe.image }}"
      />
    </div>
    <div class="form-group">
      <label for="prep_time">Prepataion Time (minutes)</label>
      <input
        type="text"
        class="form-control"
        id="prep_time"
        name="prep_time"
        value=" {{ recipe.prep_time }}"
      />
    </div>
    <div class="form-group">
      <label for="cook_time">Cook Time (minutes) </label>
      <input
        type="text"
        class="form-control"
        id="cook_time"
        name="cook_time"
        value=" {{ recipe.cook_time }}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
